/* 
    Author: Gichaba Kenani;
    Theme: Lunchbox;
    version: 1.0;
*/

*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    size: 10px;
}

.wrapper
{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center
{
    text-align: center;
}

.clearfix
{
    float: none;
    clear: both;
}

.tbl-full
{
    width: 100%;
}
.tbl-2
{
    width: 30%;
}
table tr th
{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td
{
    padding: 1%;
}
.btn-primary
{
    background-color: #630505;
    padding: 1%;
    color: #f1f2f6;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover
{
    background-color: #ac0a0a;
}

.btn-secondary
{
    background-color: #37fa57;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover
{
    background-color: #37fa5790;
}
.btn-del
{
    background-color: #e40404;
    padding: 1%;
    color: #f1f2f6;
    text-decoration: none;
    font-weight: bold;
}
.btn-del:hover
{
    background-color: #fb3f2790;
}
.success
{
    color: #37fa57;
}
.error
{
    color: #e40404;
}


/*css for Menu*/
.menu
{
    border-bottom: 1px solid gray;
}
.menu ul
{
    list-style-type: none;

}
.menu ul li
{
    display: inline;
    padding: 1%;
}
.menu ul li a
{
    text-decoration: none;
    font-weight: bold;
    color: #630505;
}
.menu ul li a:hover
{
    color: #ac0a0a;
}

/*css for main content*/
.main-content
{
    background-color: #f1f2f6;
    padding: 3% 0;
}
.col-4
{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}


/*css for footer*/

.footer
{
    background-color: #630505;
    color: white;
}

/*css for login*/
.login
{
    width: 50%;
    margin: 0 auto;
    padding: 2%;
    color: black;
}